@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic|PT+Serif:400,400italic,700,700italic);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

html {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    font-family: "Roboto", helvetica, arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background: #fafafa;
    color: #333;
    /*Sometimes fonts don't display optimally on all devices*/
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


#profile-picture img {
    border: 0;
    height: auto;
    max-width: 100%;
}

#profile-picture img:hover {
    opacity: 0.90;
    filter: alpha(opacity=90);
}

/*--- Clearings ---*/

header:before,
header:after {
    content: "";
    display: table;
}

header:after {
    clear: both;
}

#content-body {
    padding-top: 64px;
}

/**
 * main page
**/
h1 {
    /* font-family: "Merriweather", serif; */
    font-size: 75px;
}

.row {
    min-height: 100px;
    /*  background-color: #cdffb3;*/
    border-bottom: 1px #ccc solid;
}

.row h1 {
    text-align: center;
    padding: 160px 0;
    color: #6db40d;
    font-weight: 300;
    background: url('/img/rellatbackground.png') no-repeat;
    background-size: cover;
}

.row-box {
    max-width: 760px;
    margin: 60px auto;
}

.row-box h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.footer {
    margin: 0;
    padding: 5px 0 0 0;
    color: #fff;
    background-color: #ccc;
    background: url('/img/rucola-salad.jpg') no-repeat;
    background-size: cover;
    height: 300px;
}

.main-content {
    margin-left: 252px;
    width: fit-content;
    height: 1000px;
    overflow: scroll;
}

/*side bar*/
.main-menu .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu {
    background: #fafafa;
    /*border: 1px solid #e5e5e5;*/
    position: absolute;
    height: 50%;
    min-height: 450px;
    width: 250px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: 0;
    border-left: 1px solid #7db038;
}

.main-menu > ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .div-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .div-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu > ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-menu li:hover > a,
.main-menu li.active > a {
    color: #fff;
    background-color: #7db038;
}

#sns {
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;
}

/*tweet-box*/

.tweetbox-container {
    width: 500px;
    padding: 1rem;
    /*background-color: #f5f8fa;*/
    border-top: 1px solid #7db038;
    box-shadow: 0 1px 4px -2px;
    margin-bottom: .5rem;
}

.tweet-container {
    margin-top: 1rem;
}

.tweetbox-row {
    margin-top: 0.5em;
    text-align: right;
}

.tweetbox-message, .tweetbox-button {
    border-radius: 4px;
    border: 1px solid #c7cad1;
    font-size: 15px;
}

.tweetbox-message:focus, .tweetbox-button:focus {
    outline: none;
}

.tweetbox-message {
    display: block;
    width: 100%;
    padding: 0.5em;
    color: inherit;
    border: 1px solid #c7cad1;
}

.tweetbox-button {
    padding: 0.25em 0.5em;
    color: white;
    background-color: #7db038;
    border-color: transparent;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    margin-left: 0.5em;
}

.tweetbox-message:focus {
    border-color: #7db038;
}

.tweetbox-count-error {
    color: tomato;
}

.tweetbox-button[disabled] {
    background-color: #c7cad1;
    cursor: not-allowed;
}

.tweetbox-button:focus:not([disabled]) {
    background-color: #7db038;
}

/* for feed*/
.feed {
    border: 1px solid #eee;
    padding: 9px 12px;
    width: 500px;
    background: white;
}

.feed .user-avatar {
    border-radius: 50%;
    width: 50px;
    float: left;
}

.feed .user-data-group {
    display: inline-block;
    margin-top: 10px;

}

.feed .user-name {
    font-weight: bold;
    margin-right: .2rem;
    float: left;
}

.feed .nick:before {
    content: '@';
}

.feed .nick {
    width: fit-content;
    font-weight: normal;
    font-size: 0.8rem;
    color: #999;
    display: block;
    float: left;
    margin: .2rem .2rem 0 0;
}

.feed .feed-time:before {
    content: "\00b7";
    margin: .2rem .2rem 0 0;
}

.feed .feed-time {
    font-weight: normal;
    font-size: 0.8rem;
    color: #999;
    float: left;
    margin-top: .2rem;
}

.feed .item-header {
    width: 100%;
    padding-top: 9px;
    display: inline-block;
}

.feed .textContainer {
    margin: 30px 0 5px;
    font-size: 1.3rem;
    cursor: pointer;
}

.feed .actions {
    padding: 20px 0 20px 0;
}
/*'fa-'라는 단어가 포함되는 모든 class를 통해 이 속성을 부여한다*/
.feed .actions [class*="fa-"] {
    color: #999;
    float: right;
    margin-left: 20px;
}

.feed .actions [class*="fa-"]:hover {
    cursor: pointer;
    color: #4A913C;
}

.feed .actions .fa-heart:hover {
    color: #d03b60;
}

.feed .actions .like {
    color: #d03b60;
}

.feed .content {
    margin-left: 60px;
}

.feed .followButton {
    text-align: center;
    font-size: 15px;
    float: right;
    border: 2px solid #4A913C;
    outline: none;
    border-radius: 12px;
    padding: 7px 15px 7px 15px;
    margin: 4px 2px;
    cursor: pointer;
    display: none;
    color: white;
    background-color: #4A913C;
}

.feed .followButton:after {
    content: 'follow';
}

.feed .followButton:hover {
    background-color: #8dc185;
}

.feed .following {
    color: white;
    background-color: #4A913C;
}

.feed .following:after {
    content: 'following';
}

.feed .following:hover:after {
    content: 'unfollow';
    background-color: #9f2030;
}

.feed .following:hover {
    background-color: #9f2030;
    border: 2px solid #9f2030;
}

/*for reply in feed-ex*/
.sns-reply-input {
    width: 500px;
    padding: 9px 12px;
    overflow-x: hidden;
    border: 1px solid #eee;
    background-color: #e7ecf0;
}

.sns-reply-input div {
    display: inline-block;
}

.sns-reply-input .user-avatarContainer {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.sns-reply-input .textarea-box {
    width: calc(100% - 40px - 5px);

}

.sns-reply-input .sns-reply-textarea {
    width: calc(100% - 12px);
    padding: 5px 5px;
    border: 1px solid gray;
    border-radius: 10px;
    resize: none;
    outline: none;
}

.feed-ex {
    top: 50%;
    left: 50%;
    width: fit-content;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 99999;
    padding: 20px;
    display: none;
}

/*for reply*/
.sns-reply-container {
    width: 100%;
    background: white;
}

.sns-reply-list {
    padding-top: 10px;
    max-height: 670px;
    overflow: scroll;
}

.sns-reply {
    width: calc(100% - 36px);
    background: #fff;
    padding: 6px 18px;
    overflow-x: hidden;
}

.sns-reply-input-box div {
    display: inline-block;
}

.sns-reply-img {
    display: inline-block;
    width: 32px;
    margin-right: 5px;
}

.sns-reply-text-container {
    padding-top: 5px;
    vertical-align: top;
    display: inline-block;
    line-height: 1.4;
    word-wrap: break-word;
}

.sns-reply-text-container a, .sns-reply a {
    color: #365899;
    margin-right: 5px;
}

.sns-reply-text-container a:hover, .sns-reply a:hover {
    color: #3264c0;
}

.sns-reply-text-container a {
    font-weight: bold;
}

.hide {
    display: none;
}

.roundImg {
    border-radius: 50%;
}
