<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Rellat SNS</title>
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    <script src="https://use.fontawesome.com/21515b4647.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/loginStyle.css">
    <link rel="stylesheet" href="/css/chatStyle.css">
    <link rel="stylesheet" href="/css/navStyle.css">
</head>

<body>