<div class="row">
      <h1>Rellat</h1>
    </div>
    <div class="row">
      <div class="row-box">
        <span>Relltat is Simultaneous Collaborative Coding service to share with people how to code.</span>
        <span>릴랏은 사용자가 좋은 프로그래밍 습관, 즉 릴랏 사고방식을 쌓을 수 있게 도와주는 도구입니다.</span>
        <ol>
          <li>
            Show the process of coding
            <div>
              사람들에게 실시간으로 코드를 어떻게 치고 주석을 어떻게 다는지 보여주어요.
              주석을 달 때는 코드에서 무슨 일이 일어나는지 이야기로 풀어서 설명을 해주어요.
            </div>
          </li>
          <li>
            Share how to code
            <div>
              코드와 주석을 쓰는 것을 보면서 힌트를 얻은 사람들이 코드와 주석을 같이 써보아요.
              인터넷 게시판, SNS처럼 코드와 주석에 댓글을 달고 의견을 교환해 보아요.
              더 나은 코드를 생각해 내면 제안을 하고 등록을 해보아요. 위키백과처럼요!
            </div>
          </li>
          <li>
            Collaborative
            <div>
              그렇게 해서 사람들이 똑똑해지고 관심이 생기면 좀 더 복잡한 오픈소스 프로젝트를 함께 해보아요.
              다른 사람들을 많이 가르쳐주고 프로젝트에 많이 기여하는 사람에게는 보상과 혜택을 주어요!
              사람들 각자 능력에 맞는 프로젝트를 추천해 주어요.
            </div>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="row-box">
        <h3>Current status</h3>
        <span>Alpha version 0.1</span>
      </div>
    </div>
    <div class="row">
      <div class="row-box">
        <h3>What we are aiming for</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/imJi6nFJXhQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen  style="float: left; margin: 0 20px 40px 0;"></iframe>
        <span>doc: 공동문서, 계획을 작성하는 창 <br>
          board: Kanban 스타일 애자일 보드를 작성하는 창<br>
          code: 코드를 작성하는 창<br>
          log: 코드 수정사항이 기록되는 창.<br>
          branch: git 방식 가지치기를 관리하는 창<br>
          chat: gitter와 유사한 개발자 채팅을 하는 창<br>
          terminal: 가상환경의 터미널을 사용하는 창</span>
      </div>
    </div>
    <div class="row">
      <div class="row-box">
        <h3>Rellat philosophy</h3>
        <span>Please check rellat blog for more information.</span>
      </div>
    </div>
    <div class="footer">
      <div class="row-box">
        <h3>Connect</h3>
        <span>Check our rellat facebook group</span>
      </div>
    </div>