<div class="row">
  <h1>RELLAT</h1>
</div>
<div class="row">
  <div class="row-box">
    <span style="font-weight:600;">Relltat is Simultaneous Collaborative Coding service to share with people how to code.<br><br></span>
    <ol>
      <li>
        Show the process of coding
        <div>
          Show people how to code in real time. When annotating, explain what happens in the code by unpacking it.
        </div>
      </li>
      <li>
        Share how to code
        <div>
          People write the code and comments together.
          Like Internet bulletin board or SNS, comment on code and exchange opinions.
          If you think of a better code, make suggestions and register. Like Wikipedia!
        </div>
      </li>
      <li>
        Collaborative
        <div>
          Try a more complex open source project.
          Give rewards and benefits to those who teach other people and contribute to the project!
          People recommend projects that fit their abilities.
        </div>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="row-box">
    <h3>Current status</h3>
    <span style="font-weight:600;">Version 0.1 Alpha build 0042<br><br></span>
    <ul style="list-style: disc;">
        <li>Collaborative Document editor</li>
        <li>Collaborative Code editor with comment</li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="row-box" style="height:400px;">
    <h3>What we are aiming for</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/imJi6nFJXhQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen  style="float: left; margin-right: 20px;"></iframe>
    <div style="float: left;width: 180px;padding-left: 20px;">
      <ul style="list-style: disc;">
        <li>Document editor</li>
        <li>Kanban style agile board</li>
        <li>Code editor</li>
        <li>Revision history, logging system</li>
        <li>Project branch management</li>
        <li>Chatting with team member</li>
        <li>Terminal with Virtual machine</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="row-box">
    <h3>Rellat philosophy</h3>
    <span>Please check <a target="_blank" href="http://www.rellat.com">Rellat Blog</a> for more information.</span>
  </div>
</div>
<div class="footer">
  <div class="row-box">
    <h3>Connect</h3>
    <span>Check our <a target="_blank" href="http://fb.me/rellatkr">Rellat facebook page</a></span>
  </div>
</div>