{{> header}}
<textarea rows="4" cols="50" placeholder="input your story"></textarea>
<button id='postFeedBtn'> POST</button>
<main id='feedListTarget'>
    <div id="feedList">

    </div>
</main>
{{>footer}}